*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* variables */
:root
{
    --top-nav-height:50px;
}

body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F7;
}


.flex-group
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    

}

.menu
{

    height: 30px;
    display: none;
}

.menu  svg 
{

    height: 100%;
}



.top-nav-bar
{
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height:50px;
    background-color: rgba(255, 255, 255, 0.568);
    /* From https://css.glass */
    backdrop-filter: saturate(180%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.top-nav-bar .container 
{
    max-width: 963.04px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav-bar .container .links
{
    padding: 0  1.5rem;
}

.top-nav-bar .container .links ul  
{
    display: flex;
    height: 100%;
    align-items: center;


}

.top-nav-bar .container .logo, .top-nav-bar .container .search
{
    display: grid;
    place-items: center;
}
.top-nav-bar .container .links ul  li 
{
   list-style: none;

}

.top-nav-bar .container .links ul  li a 
{
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 600;
    font-size: 14px;
    color: black;

}

.top-nav-bar .container .links ul  li:first-child a
{
    margin: 0;
}


@media screen and (max-width:860px) {
    .top-nav-bar .container .links
    {
        display: none;
        
    }
    .top-nav-bar .container 
    {
        justify-content: space-between;

        padding: 0 1.5rem;
    }
    .menu 
    {
        display: block;
    }
}


/* side nav */
.side_nav
{
    position: fixed;
    right: 0;
    top:50px;
    max-width: 200px;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.568);
    /* From https://css.glass */
    backdrop-filter: saturate(180%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    height: 100%;
    margin-right: -100%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
 

}


.side_nav.open 
{
    margin-right: 0;
}
.side_nav ul li 
{
    list-style: none;
}

.side_nav ul li a 
{
    text-decoration: none;
    font-size: 600;
    font-size: 14px;
    color: black;
    display: block;
    padding: .5rem ;
}